node_modules/
backend/node_modules/
frontend/node_modules/
dist/
backend/dist/
frontend/dist/
.dist/
.env
backend/.env
frontend/.env
*.log
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
backend/errors.txt
backend/output.txt
backend/tsc_errors.txt
backend/tables_debug.txt
backend/*.log
frontend/*.log
build_error.log
text.log
/scripts/
**/*.exe
**/*.dll
docker-compose.yml
